* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
.container {
  max-width: 320px;
  padding: 0 20px;
  margin: auto;
}
header {
  background-color: rgb(172, 141, 105);
  padding-top: 20px;
  padding-bottom: 20px;
}
.book_title {
  font-size: 35px;
  text-align: center;
  color: aliceblue;
}
.fair {
  background-image: url(./img/fair.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 88vh;
}
button {
  padding: 10px 35px 10px 35px;
  background-color: rgb(98, 147, 131);
  border-radius: 7px;
  border: none;
  margin-top: 250px;
  margin-left: 75px;
}
.book__enter {
  font-size: 24px;
  color: beige;
}
